*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body */
body{
    background:  #ddccb5;
    width: 100%;
    height: 100%;
}
.checkout_box{
    width: 500px;
    height: auto;
    background-color: rgb(112, 159, 180);
    margin:100px auto
}
.checkout_box h1{
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    color:rgb(35,56,78)
}
/* lines */
.line{
    display: block;
    width: 100%;
    height: 3px;
    background-color: antiquewhite;;
}
.line_ufter_items{
    display: block;
    width: 100%;
    background-color:antiquewhite;
    height: 1px;
}
/* todo items */
.checkout_items{
    display: flex;
    padding:15px 50px;
    align-items: center;
    justify-content: space-between;
}
.checkout_items p{
    padding-left:20px;
}

/* classes for todo items done */
.checkout_items .line-through{
   text-decoration: line-through;
}
.par{
    text-decoration: none;
    color:antiquewhite;
}

/*  delete btn */

.select-input{
    cursor: pointer;
}
.delete_btn{
    font-size: 20px;
    border:none;
    background-color: rgb(112, 159, 180);
    color:rgb(255,255,255);
    cursor: pointer;
}
.delete_btn:hover{
    color: rgb(62, 88, 100);
    transition: all 1s ease-in-out;
}
/* add checkbox style */
.input_fild {
    width: 100%;
    margin: 0 15px 15px 15px;
    
}
.input_fild input {
    width: 75%;
    border:none;
    background-color: rgba(255,255,255,.4);
    height: 30px;
    color:rgb(0, 0, 0);
    padding-left: 10px;
}
.input_fild button {
    width: 20%;
    height: 30px;
    border:none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    color:rgb(35,56,78)
}
.input_fild button:focus, .input_fild input:focus {
    outline:1px  solid white;
}