*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background:  #ddccb5;
    width: 100%;
    height: 100%;
}
.checkout_box{
    width: 500px;
    height: auto;
    background-color: rgb(112, 159, 180);
    margin:100px auto
}
.checkout_box h1{
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    color:rgb(35,56,78)
}
.line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}
.par{
    text-decoration: none;
    color:antiquewhite;
}
.checkout_items{
    display: flex;
    padding:15px;
    align-items: center;
    justify-content: space-around;
}
.checkout_items p{
    padding-left:20px;
}
.checkout_items .line-through{
   text-decoration: line-through;
}
.line_ufter_items{
    display: block;
    width: 100%;
    background-color:antiquewhite;
    height: 1px;
}
.delete_btn{
    height: 30px;
    width: 70px;
    border:none;
    background-color: rgba(79, 90, 95, 0.5);
    color:rgb(255,255,255);
    cursor: pointer;
    text-transform: uppercase;
}
.input_fild {
    width: 100%;
    margin: 0 15px 15px 15px;
    
}
.input_fild input {
    width: 70%;
    border:none;
    background-color: rgba(255,255,255,.4);
    height: 30px;
    color:rgb(0, 0, 0);
    padding-left: 10px;
}
.input_fild button {
    width: 20%;
    height: 30px;
    border:none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}